
<!DOCTYPE html>

<html lang="ko">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/count.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
</head>

<style>
    body{
        background-color: #FFC178
    }
</style>
<body>



<div style="margin-left:20px;font-family:Neucha;font-size:25px"><h1><u>Count Result</u></h1></div>
<div style="border-style:dashed;border-width:3px;background-color:#D4BAA5;margin-top:30px;display:table;width:800px;height:350px;margin-left:auto;margin-right:auto;">
    <div style="display:table-cell;vertical-align:middle;">
        <h1 style="font-family:Neucha;font-size:25px">당신이 요청한 문장은 {{ total }}개로 이루어져 있습니다.</h1>

        <a style="font-family:Neucha;font-size:25px" href="{% url 'count:index' %}">다시하기</a>
        <br>
        <span><a style="font-family:Neucha;font-size:25px" href="{% url 'count:see' %}">별점매기러가기~~</a></span>

        <h1 style="font-family:Neucha;font-size:25px">입력한테스트</h1>
        {{ fulltext }}
        <h1 style="font-family:Neucha;font-size:25px">단어개수입니당</h1>
        {% for word, countTotal in dictionary %}
        {{ word }} - {{ countTotal }}
        <br>
        {% endfor %}
    </div>
</div>
</div>
</body>